# Node.jsの依存ファイルを無視する
node_modules/

# Next.jsが生成するビルド成果物を無視する
.next/

# backend
__pycache__/
venv/

# 環境変数ファイルを無視する
.env
.env.local

# ログファイルを無視する
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS固有のファイルを無視する（例: macOSの.DS_Store）
.DS_Store

# IDEやエディタの設定ファイルを無視する
.vscode/
.idea/

backend/analytics_result.json
backend/AI/static

backend/AI/__init__.py
backend/AI/statistics_analysis/__init__.py