/* login.css */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

.register-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 30px 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  color: #333;
  background-color: #9bcdf15f;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 30%;
  height: 80%;
  padding: 32px 48px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.main-form {
  width: 100%;
}

.register-text {
  font-size: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.text-group {
  margin-bottom: 4px;
}

.input-group {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.register-button {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #427ebe;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500px;
  margin-bottom: 15px;
}

.register-button:hover {
  background-color: #005bac;
  color: white;
  transition: 0.5s;
}

.login-button {
  width: 100%;
  padding: 16px 0;
  border: 2px solid #005bac;
  border-radius: 10px;
  color: #005bac;
  background-color: #ffffff;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500px;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #005bac;
  color: white;
  transition: 0.5s;
}
