@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* ヘッダー */
.header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px; /* space-x-4 */
}

.header-title {
  font-size: 20px; /* text-xl */
  font-weight: 700; /* font-bold */
  margin: 0;
}

.header-input {
  width: 20rem; /* w-80 */
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #7272722f;
}

.header-button {
  /* スタイルはButtonコンポーネントで管理 */
  border: none;
  background-color: #ffffff;
}

.dropdown-menu {
  position: absolute;
  top: 60px; /* ヘッダーの下にメニューを表示するための位置調整 */
  right: 0px; /* 右側にドロップダウンメニューを配置 */
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
  z-index: 1000; /* 他の要素の上に表示 */
  padding: 10px;
  width: 20%;
  height: 100vh;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
    justify-content: flex-start;
  }

  .header-button {
    text-align: right;
  }
}
